{% extends "/flaskapp/app/templates/layout.html" %}
  
{% block content %}
  <h2>About</h2>
  <p> am currently a student that is going into my final year of Coventry University. But before that I was born and rasied in
                        <br> Beverley which is in the East Riding Of Yorkshire. Before coming to university i studied at New College Pontefract where i
                        <br> found my love for computers. Because of all this I wanted to go on and persue my creare in working with and around the latest
                        <br> technology and then to one day make something that will help change someones life for the better.</p>
{% endblock %}